body {font-family: 'Raleway', sans-serif;}
body > * {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.navbar-brand,.display-4,h3 {font-family: 'Playfair Display', serif;}
.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}
.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}
.menu .nav-link {font-size:14px;}
