body {font-family: 'Raleway', sans-serif;}
body > * {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.navbar-brand,.display-4,h3,h2,h1 {font-family: 'Playfair Display', serif;}
.title {font-weight:bold;color:#000;}
.title:hover {color:#999;text-decoration:none;}
.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}
.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}
.menu .nav-link {font-family: 'Playfair Display', sans-serif;font-size:13px;font-weight:bold;color:#444;text-transform:uppercase;padding:8px 10px 8px 10px;}
